$mycolor = #0000ff

:root
  --q-color-mycolor $mycolor

.bg-mycolor
  background: $mycolor !important
  background: var(--q-color-mycolor) !important

.text-mycolor
  color: $mycolor !important
  color: var(--q-color-mycolor) !important
