$addbtn = #c0ca33
$deldbtn = #ff7043
$savebtn = #5c6bc0
$treebtn = #ab47bc
$expbtn = #4caf50
$textinfo = #80deea

:root
  --q-color-addbtn $addbtn
  --q-color-deldbtn $deldbtn
  --q-color-savebtn $savebtn
  --q-color-treebtn $treebtn
  --q-color-expbtn $expbtn
  --q-color-textinfo $textinfo

.bg-addbtn
  background: $addbtn !important
  background: var(--q-color-addbtn) !important

.text-addbtn
  color: $addbtn !important
  color: var(--q-color-addbtn) !important

.bg-deldbtn
  background: $deldbtn !important
  background: var(--q-color-deldbtn) !important

.text-deldbtn
  color: $deldbtn !important
  color: var(--q-color-deldbtn) !important

.bg-savebtn
  background: $savebtn !important
  background: var(--q-color-savebtn) !important

.text-savebtn
  color: $savebtn !important
  color: var(--q-color-savebtn) !important

.bg-treebtn
  background: $treebtn !important
  background: var(--q-color-treebtn) !important

.text-treebtn
  color: $treebtn !important
  color: var(--q-color-treebtn) !important

.bg-expbtn
  background: $expbtn !important
  background: var(--q-color-expbtn) !important

.text-expbtn
  color: $expbtn !important
  color: var(--q-color-expbtn) !important

.bg-textinfo
  background: $textinfo !important
  background: var(--q-color-textinfo) !important

.text-textinfo
  color: $textinfo !important
  color: var(--q-color-textinfo) !important